p {
  font-size: 15px;

}

.primer_parrafo {
  font-style: oblique;
  color: chartreuse;
}

.sergio {
  color: mediumblue;
  background-color: gold;
  margin: 0px;
  text-align: center;
  font-size: 35px;
}

.alvarado {
  color: aqua;
  font-size: 16px;
}

.quisbert {
  color: chartreuse;
  font-style: oblique;
  border-color: gold;
  border-style: double;
}